# Copier ce fichier en .env et remplir vos valeurs

# Serveur
PORT=3001
NODE_ENV=development

# Admin
ADMIN_USER=admin
ADMIN_PASS=MotDePasseTresFort123!

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_USER=votre@gmail.com
SMTP_PASS=votre-mot-de-passe-application
ADMIN_EMAIL=contact@talbifluid.fr
